@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.aimSocial, .aimInstitute{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

  .aimSocial > img, .aimInstitute > img {
    height: 20rem;
    margin-top: 0rem;
  }

  .aimSocial h4, .aimInstitute h4{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    font-family: Open Sans;
    font-size: 2em;
  }

  .aimSocial p, .aimInstitute p{
    font-weight: normal;
    color: #3e4345;
    font-family: Open Sans;
    font-size: 1.2em;
  }
  .aimContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .painPoints{
    text-align: center;
    width: 80%;
  }
  .addPainPoint{
    display: flex;
    justify-content: space-around;
  }
  .blackBoardContainer{
    position: relative;
  }
  .addedPainPoint{
    position: absolute;
    left: 4vw ;
    bottom: 20vh;
    color: black !important;
    font-family: 'Comic Neue', cursive !important;
  }
  @media screen and (max-width: 600px) {
    .aimContainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .aimSocial, .aimInstitute{
      width: 80%;
    }
    .addedPainPoint{
      position: absolute;
      left: 4vw ;
      bottom: 2vh;
      color: black !important;
      font-family: 'Comic Neue', cursive !important;
    }
  }