@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --primary: #a78ec3;
  --secondary: #fcfcfb;
}

.solutions--btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  border-radius: 10px;
  cursor: pointer;
  height: 2em;
  width: 10vw;
  font-size: 1.2em;
}

.solutions--btn--primary {
  background-color: var(--purpleMain);
  color: var(--secondary);
  border: none;
}

.solutions--btn--secondary {
  background-color: var(--secondary);
  color: var(--purpleMain);
  border: 2px solid var(--purpleMain);
}
@media screen and (max-width: 600px) {
  .solutions--btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    height: 2em;
    width: 25vw;
    font-size: small;
  }
}