/*Sidebar Styles*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.logoContainer {
    display: flex;
    justify-content: center;
    margin: 5px auto;
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 22vw;
    height: 100vh !important;
    background-color: var(--pureWhite);
    color: var(--darkThemeFontPrimary);
    font-family: "Open Sans";
    font-weight: 600;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, .2) !important;
    border-radius: 0px !important;
}

.sideBar ul {
    margin: 0;
    padding: 0;
}

.sideBar ul a {
    text-decoration: none;
}

.sideBar ul a li.active {
    background: var(--purpleMain);
    margin-left: 0;
    padding-left: 66px;
    text-decoration: none;
}

.sideBar ul a li.active span {
    color: var(--darkThemeFontPrimary);
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    margin-right: 12px;
}

.sideBar ul a li {
    color: var(--darkThemeFontPrimary);
    text-decoration: none;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
    margin-left: 66px;
    margin-right: 12px;
    margin-top: 10px;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 10px 10px 0px;
    display: flex;
    align-items: center;
}

.sideBar ul a li img {
    opacity: 0.7;
}

.sideBar ul a li.active img,
.sideBar ul a:hover img {
    opacity: 1;
    filter: invert(100%);
}

.sideBar ul a li span {
    text-decoration: none;
    text-align: left;
    color: var(--lightThemeFontSecondary);
    margin-left: 20px;
    padding-left: 0px;
    font-size: 16px;
    position: relative;
}

.sideBar ul a:hover:not(.active) li {
    background: var(--purpleMain);
    box-shadow: 0 20px 20px -2px rgba(0, 0, 0, .2);
    color: var(--darkThemeFontPrimary) !important;
    margin-left: 0;
    padding-left: 66px;
    text-decoration: none;
}

.sideBar ul a li:hover span {
    color: var(--darkThemeFontPrimary) !important;
}

.sideBar ul a:hover {
    color: var(--darkThemeFontPrimary) !important;
    text-decoration: none;
}

.addPostIcon {
    width: 10vw;
    border-radius: 100px !important;
    border: 3px solid var(--purpleMain) !important;
    color: var(--purpleMain) !important;
    font-weight: 800 !important;
    font-size: 16px !important;
    padding: 4px !important;
    margin: 20px auto !important;
}



/* for tablet screens */
@media screen and (max-width: 991px) {
    .sideBar {
        width: 80px;
    }

    .sideBar ul a li span {
        display: none;
    }

    .sideBar ul a li.active {
        background: var(--pureWhite);
        margin: auto;
        text-decoration: none;
        padding: 10px 10px 10px 20px;
        margin-left: 0;
        border-left: 5px solid var(--purpleMain);
    }

    .sideBar ul a li {
        border-radius: 0;
        list-style-type: none;
        text-decoration: none;
    }

    .sideBar ul a:hover:not(.active) li {
        border-left: 5px solid var(--purpleMain);
        background-color: var(--pureWhite);
        box-shadow: none;
        color: var(--darkThemeFontPrimary);
        text-decoration: none;
        padding: 10px 10px 10px 20px;
    }

    .logoContainer {
        margin: 2vh auto 0;
        width: 70%;
    }

    .sideBar ul a li {
        width: fit-content;
        color: var(--darkThemeFontPrimary);
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin: 2vh auto;
    }
}



/* for mobile screens */
@media screen and (max-width: 600px) {}