/*Sidebar Styles*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.logoContainer{
    display: flex;
    justify-content: center;
    margin: 5px auto;
}
.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    width: 22vw;
    height: 100vh !important;
    background-color: white;
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    box-shadow: 2px 0px 10px -1px rgba(0,0,0,.3) !important;
    border-radius: 0px !important;
}

.sideBar ul {
    margin: 0;
    padding: 0;
}

.sideBar ul a {
    text-decoration: none;
}

.sideBar ul a li.active {
    background: #A78EC3;
    margin-left: 0;
    padding-left: 40px;
    text-decoration: none;
}
.sideBar ul a li.active span{
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 20px;
    margin-right: 12px;
}
.sideBar ul a li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    list-style-position: outside;
    text-align: left;
    margin-left: 30px;
    margin-right: 12px;
    margin-top: 10px;
    border-radius: 0px 15px 15px 0px;
    padding: 10px 10px 10px 0px;
}

.sideBar ul a li span{
    text-decoration: none;
    text-align: left;
    color: #787d80;
    margin-left: 20px;
    margin-right: 12px;
    padding-left: 0px;
    font-size: 16px;
    position: relative;
} 

.sideBar ul a:hover:not(.active) li{
    background: #A78EC3;
    box-shadow: 0 20px 20px -2px rgba(0,0,0,.2);
    color:white !important;
    margin-left: 0;
    padding-left: 40px;
    text-decoration: none;
}

.sideBar ul a li:hover span {
    color: white !important;
}

.sideBar ul a:hover {
    color: white !important;
    text-decoration: none;
}




/* for tablet screens */
@media screen and (max-width: 991px) {
    .sideBar{
        width: 80px;
    }
    .sideBar ul a li span{
        display: none;
    }
    .sideBar ul a li.active {
        background: white;
        margin: auto;
        text-decoration: none;
        padding: 10px 10px 10px 20px;
        margin-left: 0;
        border-left: 5px solid#A78EC3;
    }

    .sideBar ul a li {
        border-radius: 0;
        list-style-type: none;
        text-decoration: none;
    }

    
    .sideBar ul a:hover:not(.active) li{
        border-left: 5px solid#A78EC3;
        background-color: white;
        box-shadow: none;
        color:white;
        text-decoration: none;
        padding: 10px 10px 10px 20px;
    }

    .logoContainer{
        margin: 2vh auto 0;
        width: 70%;
    }
    .sideBar ul a li{
        width: fit-content;
        color: white;
        text-decoration: none;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 10px;
        margin: 2vh auto;
    }
    
}



/* for mobile screens */
@media screen and (max-width: 600px) {

    
    
}