.outsideNav {
	background-color: #FCFCFB;
	border-color: #FCFCFB;
}

.custom-logo {
	max-width: 100%;
	max-height: 100%;
}


.custom-link {
	color: black;
	font-family: 'Open Sans';
	font-weight: 600;
}

.custom-link:hover {
	color: black;
	border-bottom: 2px solid #A78EC3;
	font-weight: 600;
}

.btn-sign {
	border-color: #A78EC3;
	border-radius: 10px;
	max-width: 50%;
	background-color: #FCFCFB;
	font-family: "Open Sans";
	color: #A78EC3;
}

.btn-login {
	border: none;
	border-radius: 10px;
	max-width: 50%;
	color: #FCFCFB;
	background-color: #A78EC3;
}

.btn-login:hover {
	color: white;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.custom-div {
	flex-direction: column;
}

@media screen and (max-width: 575px) {
	.buttonContainer{
		display: flex;
		flex-direction: column;
	}
	.btn-sign {
		border: none;
		background-color: white;
		font-family: "Open Sans";
		color: black;
		font-family: 'Open Sans';
		font-weight: 600;
		border: 0.1px solid grey;
	}
	
	.btn-login {
		border: none;
		background-color: white;
		font-family: "Open Sans";
		color: black;
		font-family: 'Open Sans';
		font-weight: 600;
		border: 0.1px solid grey;
	}
	.custom-link {
		color: black !important;
		font-size: medium;
		font-family: 'Open Sans';
		font-weight: 600;
		border-bottom: 0.1px solid grey;
	}
	.custom-link:hover {
		color: black;
		border-bottom: none;
		font-weight: 600;
	}
	.navbar-collapse{
		height: 80vh;
	}
}