.outsideNav {
	background-color: #FCFCFB;
	border-color: #FCFCFB;
}
.custom-logo {
	max-width: 100%;
	max-height: 100%;
}
.custom-link {
	color: rgba(0, 0, 0, 0.8);
	font-family: 'Open Sans';
	font-weight: 600;
}
.custom-link:hover {
	color: rgba(0, 0, 0, 0.9);
	border-bottom: 2px solid #A78EC3;
	font-weight: 600;
}
.btn-sign {
	border-color: #A78EC3;
	border-radius: 10px;
	width: 7vw;
	background-color: #FCFCFB;
	font-family: "Open Sans";
	color: #A78EC3;
}
.btn-login {
	border: none;
	border-radius: 10px;
	width: 7vw;
	color: #FCFCFB;
	background-color: #A78EC3;
}
.btn-login:hover {
	color: white;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
.custom-div {
	flex-direction: column;
}
.nav-item, .navbar-brand{
	margin-left: 2vw;
}

@media screen and (max-width: 575px) {
	.buttonContainer{
		display: flex;
		justify-content: space-around;
		margin-top: 5vh;
	}
	.btn-sign {
		width: 25vw;
	}
	.btn-login {
		width: 25vw;

	}
	.custom-link {
		color: rgba(0, 0, 0, 0.8) !important;
		font-size: medium;
		font-family: 'Open Sans';
		font-weight: 600;
		border-bottom: 1px solid grey;
	}
	.custom-link:hover {
		color: rgba(0, 0, 0, 0.8);
		border-bottom: none;
		font-weight: 600;
	}
	.navbar-collapse{
		height: 100vh;
	}
	.navbar-brand{
		padding: 0%;
		margin-left: -5vw;
	}
	.nav-item{
		margin-left: 0vw;
	}
}