.outsideNav {
	background-color: #FCFCFB;
	border-color: #FCFCFB;
	border: 1px solid red;

}

.custom-logo {
	max-width: 100%;
	max-height: 100%;
}


.custom-link {
	color: black;
	font-family: 'Open Sans';
	font-weight: 600;
}

.custom-link:hover {
	color: black;
	border-bottom: 2px solid #A78EC3;
	font-weight: 600;
}

.btn-sign {
	border-color: #A78EC3;
	border-radius: 10px;
	max-width: 50%;
	background-color: #FCFCFB;
	font-family: "Open Sans";
	color: #A78EC3;
}

.btn-login {
	border: none;
	border-radius: 10px;
	max-width: 50%;
	color: #FCFCFB;
	background-color: #A78EC3;
}

.btn-login:hover {
	color: white;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.custom-div {
	flex-direction: column;
}

/* 29-09 */
.yoyo{
	color: #A78EC3;
}