.teamPageContainer{
    margin: 2vh 5vw 10vh;
    border: 1px solid white;
}
.aboutTeam{
    margin: -5vh 5vw 0;
    font-family: 'Times New Roman', Times, serif;
    min-height: 65vh;
}
.linksContainer{
    display: flex;
    justify-content: center;
}
.akshatPictureContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row-reverse;
    margin: auto 5vw;
}
.akshatPictureContainer img {
    border-radius: 100%;
    width: 250px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.555);
    transform: rotate(15deg);
}
.akshatPictureContainer div:nth-child(2) {
    width: 0;
    visibility: hidden;
    transition: width 0.75s ease-in-out;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}
.akshatPictureContainer div:first-child:hover + div, .akshatPictureContainer div:nth-child(2):hover {
    visibility: visible;
    width: 180px;
}
.akshatPictureContainer img:hover {
    animation: shakeAnimation 0.15s 5;
}
.teamMemberSocialLinks{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}
.teamMemberSocialLinks a{
    color: #0d1933;
}
@keyframes shakeAnimation{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(3deg);
    }
}
  @media screen and (max-width: 600px) {
    .aboutTeam{
        margin: 5vh 5vw 10vh;
        min-height: 80vh;
    }
    .akshatPictureContainer{
        justify-content: center;
        margin: auto;
    }
  }