.FooterBarForMobile{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--lightBackgroundPrimary);
    text-decoration: none;
    align-items: center;
    padding: 3%;
    border-top: 1px solid #dddddd;
    height: 8.2vh;
    z-index: 100;
}