.headerTask {
    background-color:white;
    border-color: white;
    border-radius: 0px 0px 15px 15px;
    height: 9vh;
    align-items: center;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,.3) !important;
}

.Navbar{
    margin-left: 22vw;
    margin-top: 0px;
}
.header {
    color: #A78EC3;
    text-decoration-color: #A78EC3;
    font-size: 25px !important;
}
.searchIcon {
    margin-top: 3px;
}
.searchImg{
    background-color: #fff;
    width: 80%;
}
.headerIcons {
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
}

.form-control {
    border-radius: 10px;
    width: 14vw !important;
    background-color: #F5F7FA;
    margin-top: -4px;
}
.form-control:focus{
    box-shadow: none;
}
@media screen and (max-width: 991px) {
    .Navbar{
        margin-left: 80px;
    }
    .headerTask{
        height: 7vh;
    }
}

@media screen and (max-width: 600px) {
    
}