.headerTask {
    background-color:white;
    border-color: white;
    border-radius: 0px 0px 15px 15px;
    height: 9vh;
    align-items: center;
    box-shadow: 0px 2px 10px -1px rgba(0,0,0,.3) !important;
}
.notificationCount{
    position: absolute;
    top: 0px;
    right: 0;
    height: 16px;
    width: 16px;
    background-color:  #834bc4;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
}
.Navbar{
    margin-left: 22vw;
    margin-top: 0px;
}
.header {
    color: #A78EC3;
    text-decoration-color: #A78EC3;
    font-size: 1.5em !important;
    margin-left: 1vw;
}
.searchIcon {
    margin-top: 3px;
}
.searchImg{
    background-color: #fff;
    width: 80%;
}
.headerIcons {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border-style: none;
}

.form-control {
    border-radius: 10px;
    width: 14vw !important;
    background-color: #F5F7FA;
    margin-top: -4px;
}
.form-control:focus{
    box-shadow: none;
}
@media screen and (max-width: 991px) {
    .Navbar{
        margin-left: 80px;
    }
    .headerTask{
        height: 7vh;
    }
}

@media screen and (max-width: 600px) {
    
}