.HeaderBarForMobile{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: white;
    border-bottom: 1px solid #dfd6e98f;
    box-shadow: 0px 1px 1px #dfd6e98f;
    position: sticky;
    top: 0;
    text-decoration: none;
    align-items: center;
    z-index: 100;
    height: 7.8vh;
}
.mobileSideBarProfilePic{
    margin-left: 21px;
}
.sidebarListIcon{
    margin-left: 10px; 
}
.sidebarListLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sidebarListLink:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sidebarListItem:hover, .sidebarListItem:focus{
    background-color: rgba(0, 0, 0, 0.15);
}
.profilePictureSidebarThumbnail{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
}