.headerTask {
    background-color: var(--pureWhite);
    border-color: var(--pureWhite);
    border-radius: 0px 0px 15px 15px;
    height: 9vh;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0, 0.2) !important;
    
}
.notificationCount{
    position: absolute;
    top: 0px;
    right: 0;
    height: 16px;
    min-width: 16px;
    background-color:   var(--purpleDark);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    border-radius: 100%;
    font-size: 10px;
    color:  var(--pureWhite);
    padding: 0;
}
.Navbar{
    margin-left: 22vw;
    margin-top: 0px;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header {
    color:  var(--lightThemeFontSecondary);
    text-decoration-color:  var(--lightThemeFontSecondary);
    font-size: 1.25em !important;
    margin-left: 1vw;
}
.searchIcon {
    margin-left: 2em;
}
.searchImg{
    background-color: var(--pureWhite);
    width: 80%;
}
.headerIcons {
    position: relative;
    background-color: var(--pureWhite);
    border-radius: 10px;
    border-style: none;
}

.seacrhButtonHeader {
    border-radius: 10px;
    width: 12vw !important;
    background-color: var(--lightBackground);
    margin-top: -4px;
    margin-right: 1em !important;
}
.seacrhButtonHeader:focus{
    box-shadow: none;
}
@media screen and (max-width: 991px) {
    .Navbar{
        margin-left: 80px;
    }
    .headerTask{
        height: 7vh;
    }
}

@media screen and (max-width: 600px) {
    .headerTask {
        display: none;
    }
}