.HeaderBarForMobile{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 1px 3px #dddddd;
    position: sticky;
    top: 0;
    text-decoration: none;
    align-items: center;
    z-index: 100;
    height: 7.8vh;
}
.mobileSideBarProfilePic{
    margin-left: 21px;
}
.sidebarListIcon{
    margin-left: 10px; 
}
.sidebarListLink{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sidebarListLink:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
.sidebarListItem:hover, .sidebarListItem:focus{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
}
.sidebarListItemActive{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0 10px 10px 0;
}
.profilePictureSidebarThumbnail{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
}