.chatScreen{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 90vh;
    margin-left: 22vw;
    padding: 2%;
}

@media screen and (max-width: 991px) {
    .chatScreen{
        margin-left: 80px;
    }
}

@media screen and (max-width: 600px) {
    .headerForMobile{
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #FCFCFB !important;
    }
    .footerForMobile{
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    .mainScreenMobile{
      min-height: 84vh;
      max-width: 100vw !important;
    }
    .mainScreenMobileMessage{
      height: 100vh;
      overflow-y: hidden !important;
    }
}