.faqQuestion {
    background: whitesmoke;
    border: whitesmoke;
    width: 60vw;
    font-size: 20px;
    text-align: left;
    margin-bottom: 5px;
    text-decoration-color: #A78EC3;
}

.faqQuestion:hover {
    text-decoration-color: underline;
    cursor: pointer;
}

.faqAnswer-hidden {
    display: none;
}

.faqAnswer {
    font-size: 14px;
    padding-left: 1em;
    width: 60vw;
    font-weight: lighter;
    background-color: white;
    text-align: left;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .faqQuestion, .faqAnswer {
        width: 80vw;
    }
    
}