
.loginPage{
    background: #fcfcfb;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5vh;
}
body{
    background-color: #FCFCFB !important;
}
.pictureCreate{
    background-color: #FCFCFB;
}
.pictureCreate img{
    width: 85%;
}

@media screen and (max-width: 600px) {
    .loginPage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}