.discussion-detail-container {
    width: 50vw;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%) !important;
    border-radius: 10px;
}
.discussion-header-content{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--lightBackgroundPrimary);
}
.discussion-detail-li{
   margin: 0 10px;
}
.discussionReply1{
    color:#FCFCFB;
    background-color: var(--purpleMain);
    border-radius: 10px 10px 2px 10px;
    padding: 10px;
    max-width: 80%;
    margin-left: 5vw !important;
    word-break: break-word;
}
.discussionReply2{
    color:#FCFCFB;
    background-color: #bdbdbd;
    border-radius: 10px 10px 10px 2px;
    padding: 10px;
    max-width: 80%;
    margin-right: 5vw !important;
    word-break: break-word;
}
.descriptionOfDiscussion{
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.createReply{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .discussion-detail-li{
        margin: 0;
     }
    .discussion-detail-container{
        width: 100%
    }
}