.discussion-detail-container {
    flex-direction: column;
    border-radius: 5px;
}

.discussion-detail-li{
   margin: 0 10%;
}
.divStyl{
    margin: 2%;
    border: 1px solid #dfd6e98f;
    border-radius: 5px;
}

.createReply{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .discussion-detail-li{
        margin: 0;
     }
    .discussion-detail-container{
        margin-top: 2vh;
        min-height: calc(100vh - 110px);
    }
}