.discussion-detail-container {
    width: 50vw;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.discussion-header-content {
    position: sticky;
    top: 9vh;
    z-index: 1;
    background-color: var(--lightBackgroundPrimary);
}

.discussion-detail-li {
    margin: 0 10px;
}

.discussionReply1 {
    color: #FCFCFB;
    background-color: #BDBDBD;
    border-radius: 10px 10px 2px 10px;
    padding: 10px;
    max-width: 80%;
    margin-left: 5vw !important;
    word-break: break-word;
    font-size: 0.85em;
}

.discussionReply2 {
    color: #FCFCFB;
    background-color: var(--purpleMain);
    border-radius: 10px 10px 10px 2px;
    padding: 10px;
    max-width: 80%;
    margin-right: 5vw !important;
    word-break: break-word;
}

.descriptionOfDiscussion {
    font-size: 0.85em;
    height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dropDownRectangle {
    width: 30px;
    height: 6px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #efefef;
    margin: 4px auto 0;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85em;
}

.createReply {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.discussionReplyFieldContainer {
    position: sticky;
    bottom: -1px;
    z-index: 999;
    background-color: var(--lightBackgroundPrimary);
}

.discussionReplyFieldContainer .MuiOutlinedInput-multiline {
    padding: 12px 10px !important;
}

.discussion-detail-box {
    height: 60.6vh;
    overflow-y: scroll;
}

.discussion-detail-box::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 992px) {
    .discussion-header-content {
        top: 7vh;
    }
}

@media screen and (max-width: 600px) {
    .discussion-detail-li {
        margin: 0;
    }

    .discussion-detail-container {
        width: 100%;
        box-shadow: none;
    }

    .discussion-header-content {
        top: -1px;
        z-index: 101;
    }
}