.searchBar{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
}
.searchedResults{
    width: 100%;
}
.input {
    position: absolute;
    visibility: hidden;
  }
  
  .label {
    padding: 5px 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    color: #7A7A7A;
    transition: background-color 0.1s, color 0.1s;
  }
  .input:checked + .label{
    background: #dfd6e9;
  }
  .profilePictureThumbnail{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    border-radius: 100%;
  }
  .divStyleForSearchBar{
    margin: 1%;
    border: 2px solid #77737a;
    border-radius: 5px;
    padding: 1%;
    text-overflow: ellipsis !important;
}
@media screen and (max-width: 600px) {
    .searchBar{
        width: 90vw;
        margin: 2vh auto;
    }
}