:root{
  --purpleLight: #C7BFFF;
  --purpleMain: #9D8FFF;
  --purpleDark: #735FFF;
  --purpleGreyish: rgb(128, 128, 200);
  --purpleExtremlyDark: #3A345F;
  --blueMatchingPurple: #BCE8FF;

  --aquaLight: #7EDAC7;
  --aquaMain: #50C6AF;
  --aquaDark: #2AAF94;
  --aquaExtremelyDark: #004951;
  
  --aquaLightBright: #72DCC7;
  --aquaMainBright: #30CAAB;
  --aquaDarkBright: #10B190;

  --lightBackgroundPrimary: #FCFCFB;
  --lightBackgroundSecondary: #ECECEB;
  --lightBackgroundHelper: #ECECEB;
  --lightThemeFontPrimary: rgba(0, 0, 0, 0.85);
  --lightThemeFontSecondary: rgba(0, 0, 0, 0.6);

  --nightBackgroundPrimary: #394551;
  --nightBackgroundSecondary: #191d21;
  --nightBackgroundHelper: #273038;

  --darkBackgroundPrimary: #333;
  --darkBackgroundSecondary: #111;
  --darkThemeFontPrimary: rgba(255, 255, 255, 0.95);
  --darkThemeFontSecondary: rgba(255, 255, 255, 0.85);

  --pureWhite: #fff;
  --pureBlack: #000;

  --extremelyLightFont: #dddddd;
}

/* styling for popup screen for background image*/
.popup-background-image-display-screen{ 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.8);
  z-index: 1030;
  display: none;
}
.popup-background-image-display-screen .img-show{
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popup-background-image-display-screen .img-show div{
  position: absolute;
  top: 0px;
  right: 10px;
  cursor: pointer;
  color: #eee;
  font-size: 1.5em;
}
.popup-background-image-display-screen .img-show div:hover{
  filter: brightness(90%);
}
.popup-background-image-display-screen .img-show img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}
/*End style*/

.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.loadingGif{
  width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #FCFCFB;
    z-index: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 600px) {
  .img-show img{
    width: 92.5%;
    height: 90%;
    object-fit: contain;
  }
}
