@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  font-family: Poppins, sans-serif;
}
.column{
	animation: opacityAnimation 2s;
}
@keyframes opacityAnimation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.btn-get-started {
	border: none;
	border-radius: 10px;
	max-width: 100%;
	color: #FCFCFB;
    background-color: #A78EC3;
}
.btn-get-started:hover {
	color: white;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
.instantBreakdown{
	color: #ff0000;
	font: bold 2em 'Bangers', cursive;
	text-align: center;
}
  .carousel-control-next,
  .carousel-control-prev, .carousel-indicators /*, .carousel-indicators */ {
	  filter: invert(100%);
  }
  .carousel-indicators{
	margin-top: 2vh;
  }

  .reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }
  @media screen and (max-width: 600px) {
	.carousel-inner{
		width: 100%;
	  }
  }