@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  font-family: Poppins, sans-serif;
}

.btn-get-started {
	border: none;
	border-radius: 10px;
	max-width: 100%;
	color: #FCFCFB;
    background-color: #A78EC3;
}
.instantBreakdown{
	color: #ff0000;
	font: bold 2em 'Bangers', cursive;
	text-align: center;
}
.whyRetention{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 25vw;
	height: 25vw;
	background-image: url('../../assets/Mask\ groupwhyBGSmall\ Size1.png');
	background-repeat: no-repeat;
	background-size: contain;
  }
  .whySocialLearning{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 25vw;
	height: 25vw;
	background-image: url('../../assets/Mask\ groupwhyBGSmall\ Size2.png');
	background-repeat: no-repeat;
	background-size: contain;
  }
  .whyStudentManagement{
	justify-content: center;
	align-items: center;
	display: flex;
	width: 25vw;
	height: 25vw;
	background-image: url('../../assets/Mask\ groupwhyBGSmall\ Size3.png');
	background-repeat: no-repeat;
	background-size: contain;
  }
  .textWhy{
	font-size: 1em;
	width: 80%;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);;
  }

  .carousel-control-next,
  .carousel-control-prev, .carousel-indicators /*, .carousel-indicators */ {
	  filter: invert(100%);
  }
  .homepageMemeContainer{
	width: 50%;
	height: 50%;
  }
  .carousel-indicators{
	margin-top: 2vh;
  }
  .deviceCompatibleContainer{
	margin: 15vh 0;
  }
  @media screen and (max-width: 600px) {
	.whyRetention, .whySocialLearning, .whyStudentManagement{
		width: 100vw;
		height: 100vw;
	}
	.homepageMemeContainer{
		width: 100%;
		height: 100%;
	  }
	.carousel-inner{
		width: 100%;
	  }
	  .allDeviceImage{
		width: 75vw;
	  }
  }