@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

.column{
	animation: opacityAnimation 2s;
}
@keyframes opacityAnimation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.btn-get-started-white {
	border: none;
	border-radius: 10px;
	max-width: 100%;
	color: var(--purpleDark);
    background-color: #FCFCFB;
}
.btn-get-started-white:hover {
	color: var(--purpleDark);
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}
.btn-get-started {
	border: none;
	border-radius: 10px;
	max-width: 100%;
	color: #FCFCFB;
    background-color: var(--purpleMain);
}
.btn-get-started:hover {
	color: white;
	transform: scale(1.1, 1.1);
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.instantBreakdown{
	font: bold 2em 'Bangers', cursive;
	background-image: linear-gradient(45deg, #8C52FF, #BAA3D7, #FBEAAF, #64BAA9);
	text-align: center;
	width: fit-content;
	margin: auto;
	padding: 0 5px;

  	/* Use the text as a mask for the background. */
  	/* This will show the gradient as a text color rather than element bg. */
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; 
  	-moz-background-clip: text;
  	-moz-text-fill-color: transparent;
}
  .carousel-control-next,
  .carousel-control-prev, .carousel-indicators /*, .carousel-indicators */ {
	  filter: invert(100%);
  }
  .carousel-indicators{
	margin-top: 2vh;
  }

  .reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
  }
  .reveal.active{
	transform: translateY(0);
	opacity: 1;
  }
  .landingPageMainScreen:hover .macPictureHome{
	transform: scale(1.05, 1.05);
	transition: transform 1s;
  }
  .landingPageMainScreen{
	border-radius: 50px 50px 0 0;
	width: 100%;
	padding-top: 8vh;
	background-image: linear-gradient(-20deg, var(--purpleMain) 0%, #98dbff 100%);
  }
  #svg2{
	height: 20vh;
	width: 100%;
  }

  @media screen and (max-width: 600px) {
	.carousel-inner{
		width: 100%;
	  }
  }