.page {
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #FCFCFB;
    width: 60vw;
    margin: 5vw auto;
}
.questionairePage{
    margin: 2vh 4vw;
    z-index: 99;
}
.button {
  border: none;
	border-radius: 10px;
	width: 8em;
  height: 3em;
	color: #FCFCFB;
	background-color: #A78EC3;
  font-size: large;
}
.button:hover{
	color: #e6e6e6;
	background-color: #9781b1;
}

.header {
    font-size: x-large;
    margin-top: 20px;
}
 .image {
    position: absolute;
    right:16vw;
    top: 4vh;
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
    align-self: end;
 }
.note{
    font-size: large;
    margin-top: 10px;
}

body{
    background-color: #FCFCFB;
}

.inputQuestionairePage {
    border-radius: 4px;
    border: 2px solid rgb(175, 175, 175);
    width: 20vw !important;
    background-color: #F5F7FA;
    height: 40px;
}

.Sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.allTheSubjectsContainer{
    display: flex;
    flex-wrap: wrap;
}
.newlyAddedSubject{
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 4px;
}
.addSubjectButtonQuestionaire{
    border: 2px solid grey;
    border-radius: 100px;
    color: grey;
    margin-left: 2vw;
}
.yearSliderQuestionaireContainer{
    position: relative;
    height: 5px;
}
.yearSliderQuestionaire{
    -webkit-appearance: none;
    width: 60%;
    height: 0;
    position: absolute;
    top: 2px;
}
.yearSliderQuestionaireContainer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 60%;
    background: #9ed9d9;
    cursor: pointer;
    border: 0 !important;
    box-shadow: 0px 2px 3px rgb(160, 160, 160);
    z-index: 99;

  }
  .yearSliderQuestionaireContainer input::-moz-range-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 60%;
    background: #9ed9d9;
    cursor: pointer;
    border: 0 !important;
    box-shadow: 0px 2px 3px rgb(160, 160, 160);
    z-index: 99;
  }
  .yearSliderQuestionaireContainer input::-ms-thumb {
    width: 18px;
    height: 18px;
    margin: -8px 0 0;
    border-radius: 60%;
    background: #9ed9d9;
    cursor: pointer;
    border: 0 !important;
    box-shadow: 0px 2px 3px rgb(160, 160, 160);
    z-index: 99;
  }
  .yearSliderQuestionaireContainer input::-webkit-slider-runnable-track {
    width: 60%;
    height: 2px;
    cursor: pointer;
    background: #929699;
  }
  .yearSliderQuestionaireContainer input::-moz-range-track {
    width: 60%;
    height: 2px;
    cursor: pointer;
    background: #929699;
  }
  .yearSliderQuestionaireContainer input::-ms-track {
    width: 60%;
    height: 2px;
    cursor: pointer;
    background: #929699;
  }
  .yearSliderQuestionaireContainer input:focus {
    background: none;
    outline: none;
  }
  .yearSliderQuestionaireContainer input::-ms-track {
    width: 60%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  .numberOfYears-labels {
    margin: 18px -30px 0;
    padding: 0;
    list-style: none;
  }
  .numberOfYears-labels li {
    position: relative;
    float: left;
    width: 6vw;
    text-align: center;
    color: #929699;
    font-size: 12px;
    cursor: pointer;
  }
@media screen and (max-width: 600px) {
    .numberOfYears-labels {
        margin: 10px -12px 0;
      }
      .numberOfYears-labels li {
        width: 15vw;
      }
    .yearSliderQuestionaire{
        width: 100%;
    }
    .page{
        width: 100vw;
    }
    .image{
        height: 50vh;
        top: 25vh;
        right: 0vw;
    }
    .inputQuestionairePage {
        width: 69vw !important;
    }
    .questionairePage{
        margin: 2vh 8vw;
    }
}