.page {
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #FCFCFB;
    width: 60vw;
    margin: 5vw auto;
}
.questionairePage{
    margin: 2vh 4vw;
}
.button {
    background-color: #FCFCFB;
    color: none;
    box-shadow: none;
    border: none;
    border-radius: none;
}

.header {
    font-size: x-large;
    margin-top: 20px;
}
 .image {
    position: absolute;
    right:16vw;
    top: 4vh;
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
    align-self: end;
 }
.note{
    font-size: large;
    margin-top: 10px;
}

body{
    background-color: #FCFCFB;
}

.inputQuestionairePage {
    border-radius: 4px;
    border: 2px solid rgb(175, 175, 175);
    width: 20vw !important;
    background-color: #F5F7FA;
    height: 40px;
}

.Sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.allTheSubjectsContainer{
    display: flex;
    flex-wrap: wrap;
}
.newlyAddedSubject{
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    padding: 4px;
}
.addSubjectButtonQuestionaire{
    border: 2px solid grey;
    border-radius: 100px;
    color: grey;
    margin-left: 2vw;
}
@media screen and (max-width: 600px) {
    .page{
        width: 100vw;
    }
    .image{
        width: 80%;
        top: 15vh;
        right: 0vw;
    }
    .inputQuestionairePage {
        width: 69vw !important;
    }
    .questionairePage{
        margin: 2vh 8vw;
    }
}