.page {
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #FCFCFB;
    width: 60vw;
    margin: 5vw auto;
}
.questionairePage{
    margin: 2vh 4vw;
}
.button {
    background-color: #FCFCFB;
    color: none;
    box-shadow: none;
    border: none;
    border-radius: none;
}

.header {
    font-size: x-large;
    margin-top: 20px;
}
 .image {
    position: absolute;
    right:10px;
    top: 5vh;
    opacity: 0.5;
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
    align-self: end;
 }
.note{
    font-size: large;
    margin-top: 10px;
}

body{
    background-color: #FCFCFB;
}
.picture{
    background-color: #FCFCFB;
    flex:1;
}

.inputQuestionairePage {
    margin: auto 15px;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;
    border-radius: 5px;
    border: hsl(270, 38%, 59%);
    width: 20vw !important;
    background-color: #F5F7FA;
}

.Sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.newlyAddedSubject{
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px;
    padding: 2px;
}
.addSubjectButtonQuestionaire{
    border: 2px solid grey;
    border-radius: 100px;
    color: grey;
}
@media screen and (max-width: 600px) {
    .page{
        width: 90vw;
        margin: auto;
    }
    .image{
        top: 25vh;
        right: -10vw;
    }
    .inputQuestionairePage {
        width: 75vw !important;
    }
}