.comingSoon{
    min-height: 84vh;
    max-width: 100vw !important;
    border: 1px solid red;
    overflow-y: auto;

}
.profileBox{
    background-color: #FCFCFB;
    margin-left: 22vw !important;
}
@media screen and (max-width: 991px) {
  .profileBox{
      margin-left: 80px !important;
  }
}
@media screen and (max-width: 600px) {
    .headerForMobile{
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #FCFCFB !important;
    }
    .footerForMobile{
      box-sizing: border-box;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }