.footer{
    background-image: linear-gradient(#cac6cf, #ebe5f3);
    padding: 10vh 0;
    text-align: center;
    position: relative;
}
.socialLinks a{
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.socialLinks a:hover{
    color: #834bc4;
}