.todoBlock{
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: var(--blueMatchingPurple);
    color: white;
    font-weight: 600;
    font-size: medium;
}

.addTodo, .changeView{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    padding: 4px;
    margin: 0px 5px;
}
.addTodo:hover, .changeView:hover{
    transform: scale(1.1);
}

.todoIcons{
    display: flex;
    margin: 0.5em;
}
.todoIcons div{
    font-size: x-small;
    color: var(--purpleMain);
    border: 1px solid var(--purpleDark);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}
.todoIcons div:hover{
    border-radius: 20px;
    cursor: pointer;
}
.todoCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.todoCard{
    width: 12vh;
    height: 12vh;
    border: 1px solid var(--blueMatchingPurple);
    box-shadow: 0px 2px 1px var(--blueMatchingPurple);
    border-radius: 5px;
    margin: 0.5vh 0.5vw;
}
.todoImages{
    margin-left: 0.85em;
    margin-top: 0.25em;
}
.todoCard:hover{
    transform: scale(1.1, 1.1);
}
@media screen and (max-width: 600px) {
    .todoBlock{
        position: sticky !important;
    }
    .todoCard{
        width: 17vh;
        height: 17vh;
        margin: 1vh 1vw;
    }
}