.todoBlock{
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #a8dada;
    color: white;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.addTodo, .changeView{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    padding: 4px;
    margin: 0px 5px;
}
.addTodo:hover, .changeView:hover{
    transform: scale(1.1);
}

.todoIcons{
    display: flex;
    justify-content: flex-end;
}
.todoCardContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-around;
}
.todoCard{
    width: 11vh;
    height: 11vh;
    overflow: hidden;
    background-size: contain;
    border: 1px solid #a5c5c5;
    box-shadow: 2px 2px 1px #a5c5c5;
    border-radius: 5px;
    margin: 0.5vh 0.5vw;
}
.todoImages{
    margin-left: 0.8em;
}

@media screen and (max-width: 600px) {
    .todoComponentContainer{
        min-height: calc(100vh - 110px);
    }
    .todoBlock{
        position: sticky !important;
        top: 55px;
    }
    .todoCard{
        width: 17vh;
        height: 17vh;
        margin: 1vh 1vw;

    }
}