.todoBlock{
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #a8dada;
    color: white;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}

.addTodo, .changeView{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    overflow: hidden;
    padding: 4px;
    margin: 0px 5px;
}
.addTodo:hover, .changeView:hover{
    transform: scale(1.1);
}

.todoIcons{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -21px;
}
.todoCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    align-content: space-around;
}

