.textbox {
  float: left;
  margin-right: 20px;
  width: 50px;
}
.tabs {
  font-family: "Open Sans" !important;
  width: 26vw !important;
  border-radius: 20px;
  border: 1px solid #dfd6e9 !important;
  box-shadow: 0px 2px 4px #dfd6e9;
  margin: 2vh auto;
  overflow-y: auto;
}
.input {
  position: absolute;
  visibility: hidden;
}
.label {
  padding: 5px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  color: #7A7A7A;
  transition: background-color 0.1s, color 0.1s;
}
.input:checked+.label {
  background: var(--purpleMain);
  color: #fff;
  border-radius: 10px;
}
.input:hover+.label {
  background: var(--purpleMain);
  color: #fff;
  border-radius: 10px;
}
.panelContainer {
  height: 165px;
  padding: 10px;
  overflow-y: auto;
}
.panel:first-child {
  display: block;
}
.panel:not(:first-child) {
  display: none;
}
.btnLearn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLearnMore {
  border: 1px solid var(--purpleMain);
  border-radius: 5px;
  color: var(--purpleMain);
  background-color: white;
  height: 5vh;
  min-width: 8vw;
  font-size: small;
  font-weight: bold;
}
.btnLearnMore:hover {
  border-radius: 15px;
}

@media screen and (max-width: 600px) {
  .tabs {
    width: 100vw !important;
  }
  .panelContainer {
    padding: 2vh 8vw;
    overflow-y: hidden;
    height: auto;
  }
}