.classCardStyle {
  display: flex;
  align-items: center;
  background-color:#FCFCFB;
  border-color:#FCFCFB;
  font-family: "Open Sans";
}

h1{
  font-size: 20px!important;
}


.textbox{
  float: left;
  margin-right: 20px;
}
a {
  color: rgb(255, 255, 255);
}


* {
  box-sizing: border-box;
  
}

body {

  background: #ffffff;
  
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #ffffff;
  border-color: white;
  font-family: "Open Sans" !important;
  width: 26vw !important;
  height: 22vw !important;
  border-radius: 20px;
  border: 2px dashed #834bc4 !important;
  margin: 0px !important;
  overflow-y: auto;
}

.input {
  position: absolute;
  opacity: 0;
}

.label {
  padding: 5px 5px;
  background: #ffffff;
  cursor: pointer;
  font-size: 14px;
  color: #7A7A7A;
  transition: background 0.1s, color 0.1s;
}

.input:checked + .label {
  background: #A78EC3;
  color: #fff;
  border-radius: 10px;
}

.label:active {
  background: #000;
}
h1{
  font-size: 20px;
  font-weight: bold;
}


.input:hover + .label {
  background: #fff;
  color: #000;
  text-decoration: underline;
  text-decoration-color:#834bc4 ;
  text-underline-position: under;
}

@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  position: relative;
  padding: 20px 30px 30px;
  background: #fff;
}
.btnLearn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLearnMore{
	border:  1px solid #A78EC3;
	border-radius: 5px;
  color: #A78EC3;
  background-color: white;
  height: 5vh;
  width: 8vw;
  font-size: small;
  font-weight: bold;
}

.btnLearnMore:hover{
  border-radius: 15px;
}

@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}

.input:checked + .label + .panel {
  display: block;
}
