.profileBox{
    background-color: #FCFCFB;
    margin-left: 22vw;
    margin-top: 0px;
}
.communitiesMobile{
  min-height: 84vh;
  max-height: 90vh;
  max-width: 100vw !important;
  overflow-y: auto;
}
.communityContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
}
.community{
  display: flex;
  width: fit-content;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  padding: 3vh 1.5vw;
  margin: 2vh 1vw;
  justify-content: space-around;
  font-size: 1.25em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 1px #77777771;
  transition: transform ease-in-out 0.5s;
}
.community:hover{
  text-decoration: none;
  color: white;
  transform: scale(1.25);
  box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.4);;
}
.communityName{
  display: flex;
  align-items: center;
  margin-right: 1vw;
}

@media screen and (max-width: 991px) {
  .profileBox{
      margin-left: 80px !important;
  }
}
@media screen and (max-width: 600px) {
    .headerForMobile{
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #FCFCFB !important;
    }
    .footerForMobile{
      box-sizing: border-box;
      position: fixed !important;
      bottom: 0 !important;
      left: 0;
      width: 100%;
    }
    .community{
      height: 2.5em;
      margin: 1vh 1vw;
      border-radius: 10px;
      align-items: center;
      font-size: medium;
    }
    .communityImage{
      height: 30px;
    }
  }