.discussionBox {
  background-color: var(--lightBackgroundSecondary);
  margin-left: 22vw;
  margin-top: 0px;
  padding: 2%;
  min-height: 91vh;
}

.communitiesMobile {
  min-height: 84vh;
  max-height: 90vh;
  max-width: 100vw !important;
  overflow-y: auto;
  margin-top: 1vh;
}

/*communities-scrollbar*/
.communityScrollbar {
  padding: 0;
  list-style: none;
  margin-bottom: 8px;
}

.communityScrollbar {
  display: flex;
  justify-content: center;
  overflow-x: scroll;

  /* prevent accidentally going back or triggering other swipe events */
  overscroll-behavior: contain;

  /* hide scroll bar */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* momentum scroll on iOS */
  -webkit-overflow-scrolling: touch;

  /* disbable vertical scroll for touch */
  touch-action: pan-x;
}

/* hide scroll bar */
.communityScrollbar::-webkit-scrollbar {
  display: none;
}

.communityItem {
  border-radius: 100%;
  margin-right: 5px;
  width: 60px;
  height: max-content;
}

.communityContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: max-content;
}

.communityIcon {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 100%;
  box-shadow: 1px 2px 2px #919699;
}

.communityName {
  font-size: x-small;
  color: grey;
  margin: 0;
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 991px) {
  .discussionBox {
    margin-left: 80px !important;
  }
}

@media screen and (max-width: 600px) {
  .headerForMobile {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FCFCFB !important;
  }

  .footerForMobile {
    box-sizing: border-box;
    position: fixed !important;
    bottom: 0 !important;
    left: 0;
    width: 100%;
  }

  .communityScrollbar {
    padding: 2% 2% 0;
    justify-content: flex-start;
  }
}