@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Calendar */
/*.classCardTitleStyle {
    font-family: "Open Sans";
      font-weight: 600 !important;
      font-size: 20px !important;
      text-align: left;
      margin-top: 10px !important;
      padding-left: 10px !important;
      color: #7A7A7A;
      border-bottom: 2px solid #834bc4;
      border-radius: 10px 0 0 10px;
  }*/
  .reactCalendar {
	font-family: "Open Sans" !important;
	overflow: hidden;
    margin: 0px !important;
    border-radius: 20px;
    height: 22vw;
    border: none;
}
.dashCard4Style {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans";
    overflow: hidden;
}
.dashCard4Style:hover{
    box-shadow: none !important;
}
.btn-class{
    display: flex;
	border: none;
	border-radius: 10px;
    max-width: 100%;
    margin-left: 400px;
    margin-top: 200px;
    position:absolute;
    top:0;
    right:10;
    justify-content: space-between;
    color: #FCFCFB;
	background-color: var(--purpleMain);
}
.btn-class-2{
    display: flex;
	border: none;
	border-radius: 10px;
    max-width: 100%;
    margin-left: 400px;
    margin-top: 250px;
    position:absolute;
    top:0;
    right:10;
    justify-content: space-between;
    color: #FCFCFB;
	background-color: #8ec3a6;
}
.btn-dark{
    font-size: 16px;
    width: 300px;
}
.btn-warning{
    font-size:16px;
    width: 300px;
}
.btn-primary{
    font-size:16px;
    width: 300px;
}
.btn-info{
    font-size:16px;
    width: 300px;
}
.d-flex2{
    margin-top:120px !important;
}


.react-calendar__navigation {
	background-color: #9ED9D9;
	color: white;
	margin-bottom: 0 !important;
}
.react-calendar__month-view__days__day--weekend {
	color: inherit !important;
}

.event-subheading {
    font-family: "Open Sans";
    font-weight: lighter;
    border-radius: 10px;
}

.card-subheading{
    display: flex;
    font-weight: bold;
    margin-left: 400px;
    margin-top: 160px;
    position:absolute;
    width: 200px;
    top:0;
    right:10;
    justify-content: space-between;
}
.card-subheading-2{
    display: flex;
    font-weight: bold;
    margin-left: 400px;
    margin-top: 290px;
    position:absolute;
    top:0;
    right:10;
    justify-content: space-between;
}
.card-subheading-3{
    display: flex;
    margin-left: 450px;
    margin-top: 315px;
    position:absolute;
    color: rgb(143, 140, 137);
    top:0;
    right:10;
    justify-content: space-between;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #757575 !important;
}

.react-calendar__tile--now {
	background: none !important;
	font-weight: bold;
}

.react-calendar__tile--now:hover {
	background: #e6e6e6 !important;
	font-weight: bold;
}

.react-calendar__tile--active {
	background: #9ED9D9 !important;
}

.react-calendar__navigation button{
	color: white;
}

.react-calendar__navigation__label span {
	color: white;
	font-weight: bold;
}

.react-calendar__navigation__label:hover {
	background-color: #9ED9D9;
}

.react-calendar__month-view__weekdays {
	background-color: #F5F7FA !important;
}

/* SmallCards */

.custom-card {
	filter: drop-shadow(0px 8px 16px rgba(137, 176, 175, 0.25));
	border-radius: 20px;
	border: none;
	max-width: 45rem;
	display: inline-block;
	font-family: "Open Sans" !important;
}

.custom-p {
	color: #7A7A7A;
	text-align: center;
}

.custom-a:hover {
	text-decoration: none;
	background-color: #e6e6e6;
}

/* Schedule */

.dot {
  height: 40px;
  width: 40px;
  background-color: none;
  border-radius: 50%;
  border-color: var(--purpleMain);
  border-style: solid;
  display: inline-block;
}

.schedule-card {
	background: none;
	border: none;
}

.custom-header {
	color: #7A7A7A;
	font-family: "Open Sans" !important;
	font-weight: bold;
}

.custom-time {
	color: #7A7A7A;
	font-family: "Open Sans" !important;
}


/*akshat changes*/
.dashCardMenu img{
    width: 35px;
    height: 35px;
    opacity: 0.75;
}

.dashCardMenu:hover img {
    transform: scale(1.1);
  }

  /*14-07-22*/
.windowHidden{
    font-family: "Open Sans" !important;
	overflow: hidden;
	width: 26vw !important;
    height: 22vw !important;
    margin: 10px;
    background: #fff;
    border: 1px solid #a8dada !important;
    box-shadow: 0px 2px 4px #badada;
    border-radius: 20px;
  }
.windowHidden:first-child {
  display: block;
}
.windowHidden:not(:first-child){
  display: none;
}

.windowHiddenHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;
    width: 26vw;
    font-family: "Open Sans" !important;
    }
