.main {
    display: flex;
    flex-direction: row;
    padding: 2%;
    
    height: 90vh;
}

.edu {
    flex: 1;
    border-radius: 10px;
    margin-right: 1vw;
    box-shadow:none!important;
}
.person {
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0px;
}
.picture {
    flex: 1;
    width: 120px;
}
.name_and_date {
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.name {
    color: black;
    font-size: 34px;
    margin-left:150px;
    margin-top:-75px;
}
.date {
    color: grey;
    font-size: 18px;
    margin-left:150px;
    margin-top:5px;
}
.edit {
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #A78EC3;
}

.listed_educations {
    list-style: none;
    color: grey;
}
.listed_educations_list{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
}
.colourTextListItems{
    border-radius: 10px;
    border: 1px solid #A78EC3;
    margin: 0.5% 1%;
    padding: 1%;
}
.listed_skills {
    list-style: none;
    color: grey;
}
.listed_courses {
    list-style: none;
    color: grey;    
}
.listed_languages {
    list-style: none;
    color: grey;
}
.listed_titles {
    color: #302c35;
    font-size: larger;
    font-weight: 600;
}
.listed_bodies {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    margin-left: 5%;
    margin-bottom:20px;
}
.description {
    color: grey;
    font-size: 14px;
    margin-left: 5%;
    width: 25vw;
}
.info {
    flex: 1.5;
    border-radius: 10px;
    box-shadow:none !important;
}
.info_title {
    padding: 2%;
    margin-bottom: 0%;
    color: #A78EC3;
    font-weight: bold;
    font-size: 36px;
    font-family: "Open Sans";
}
.title {
    color: gray;
    font-size: 22px;
}
.body {
    color: black;
    font-size: 18px;
    margin-left: 4%;
}
.top {
    display: flex;
    flex-direction: row;
}
.bottom {
    display: flex;
    flex-direction: row;
}
.pic_and_account_top {
    display: flex;
    flex-direction: row;
}
.pic_and_account_bottom {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}
.pic {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.edit_slot {
    display: flex;
    flex-direction: column;
}
.linked {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.linked_pics {
    margin-top: 0%;
    margin-left: 30px;
}
.spacer {
    flex: 0.2;
}

.element {
    flex: 1;
    width: 150px;
    height: 15px;
    padding-bottom: 20px;
}
.element_button {
    background-color: #A78EC3;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    position: center;
    margin-top:10px;
}
.element_image {
    height: 40px;
    width: 40px;
    margin-left: 5px;
}
.invis_button {
    border-color: transparent;
    background-color: transparent;
}
.edit_button {
    align-self: flex-end;
    margin: 0px 30px 40px 0px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    background-color: #A78EC3;
    border-color: white !important;
    color: white;
}
.divider {
    padding: 0px;
    border: 0;
    width: 99%;
    height: 3px;
    color: gray;
    background-color: #e3dddd;
    border-radius: 5px;
}


/*27-09*/
.headerOfBlockInfoCard{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.profileDisplayData{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.leftBlockofInfoCard{
    width: 30%;
    height: fit-content;
    
}
.profile_pic_slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
}
.elementPic{
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    border: 1px solid #dfd6e9;
}

.usernameBlocky{
    color: #302c35;
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-overflow: clip;
    
}

.rightBlockofInfoCard{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.pointsAndFriendsCountSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
.pointsAndFriendsCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionOf{
    margin: 1vh;
    text-align: center;
    height: fit-content;
}
.addButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
.addFriend_button{
    margin: 0.5vh;
    width: 8vw;
    height: 5vh;
    font-size: small;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 25px;
    background-color: #834bc4;
    border-color: white !important;
    color: white;
}
.addFriend_button:hover{
    background-color: #6932a8;
}
.connect_button{
    margin: 0.5vh;
    width: 8vw;
    height: 5vh;
    font-size: small;
    font-weight: 700;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 25px;
    background-color: white;
    border-color: #621eb1;
    color: #621eb1;
}
.connect_button:hover{
    border-color: #471381;
    color: #471381;
}
.profileElements{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
}
.profileElementsTitle{
    font-size: larger;
    font-weight: bolder;
    font-family: Poppins, sans-serif;
    color: black;
}
.profileElementContainer{
    display: flex;
    flex-direction: row;
    border: 0.1px solid #dfd6e9;
    border-radius: 15px;
    height: 20vh;
    padding: 1%;
    overflow-y: auto;
}
.edit_button_profile{
    margin: 0.5vh;
    width: 15vw;
    height: 5vh;
    font-size: small;
    font-weight: 700;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    border-color: #471381;
    color: #471381;
}
.edit_button_profile:hover{
    color: white;
    background-color: #471381;
    border-color: #471381;
}