.main {
    display: flex;
    padding: 1.5%;
    height: 90vh;
    flex-wrap: wrap;
}
.edu {
    flex: 1;
    border-radius: 10px;
    margin-right: 1vw;
    box-shadow:none!important;
}
.person {
    display: flex;
    padding: 1%;
    margin: 0px;
}
.picture {
    flex: 1;
    width: 120px;
}
.name_and_date {
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.name {
    color: var(--pureBlack);
    font-size: 34px;
    margin-left:150px;
    margin-top:-75px;
}
.date {
    color: grey;
    font-size: 18px;
    margin-left:150px;
    margin-top:5px;
}
.edit {
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: var(--purpleMain);
}
.selectFormColortext{
    width: 20vw !important;
    height: 6vh !important;
    margin-right: 1vw;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    background-color: #F5F7FA;
}
.listed_educations, .listed_courses, .listed_languages, .listed_skills {
    list-style: none;
    color: grey;
}
.listed_educations_list{
    display: flex;
    flex-wrap: wrap;
}
.removeEducations{
    margin-left: -0.8vw;
}
.colourTextListItems{
    border: 2px solid var(--purpleGreyish);
    color: var(--purpleGreyish);
    font-weight: 600;
    border-radius: 5px;
    margin: 3px;
    padding: 4px;
    font-size: 0.8em;
}
#ErrorMessage{
    color: red;
    font-size: small;
}
.listed_titles {
    color: var(--lightThemeFontPrimary);
    font-size: 1em;
    font-weight: 600;
}
.listed_bodies {
    color: var(--pureBlack);
    font-size: 14px;
    font-weight: normal;
    margin-left: 5%;
    margin-bottom:20px;
}
.description {
    color: grey;
    font-size: 14px;
    margin-left: 5%;
    width: 25vw;
}
.info {
    flex: 1.5;
    border-radius: 10px;
    box-shadow:none !important;
}

.title {
    color: gray;
    font-size: 22px;
}
.body {
    color: var(--pureBlack);
    font-size: 18px;
    margin-left: 4%;
}
.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.pic_and_account_top {
    display: flex;
    flex-direction: row;
}
.pic_and_account_bottom {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}
.pic {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.edit_slot {
    display: flex;
    flex-direction: column;
}
.linked {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.linked_pics {
    margin-top: 0%;
    margin-left: 30px;
}
.spacer {
    flex: 0.2;
}

.element {
    flex: 1;
    width: 150px;
    height: 15px;
    padding-bottom: 20px;
}
.element_button {
    background-color: var(--purpleMain);
    color: var(--pureWhite);
    width: 100px;
    height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    position: center;
    margin-top:10px;
}
.element_image {
    height: 5em;
    width: 5em;
    margin-left: 5px;
}
.invis_button {
    border-color: transparent;
    background-color: transparent;
}
.save_button {
    font-weight: 600;
    font-size: small;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--purpleMain);
    border: none;
    color: var(--pureWhite);
}
.cancel_button {
    font-weight: 600;
    font-size: small;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: var(--pureWhite);
    border: 1px solid var(--purpleMain) !important;
    color: var(--purpleMain);
}
.divider {
    padding: 0px;
    border: 0;
    width: 99%;
    height: 3px;
    color: gray;
    background-color: #e3dddd;
    border-radius: 5px;
}


/*27-09*/
.headerOfBlockInfoCard{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.profileDisplayData{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.leftBlockofInfoCard{
    width: 30%;
    height: fit-content;
    
}
.profile_pic_slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
}
.elementPic{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 100%;
}

.usernameBlocky{
    color: var(--purpleExtremelyDark);
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-overflow: clip;
    
}

.rightBlockofInfoCard{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.pointsAndFriendsCountSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
.pointsAndFriendsCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionOf{
    margin: 1vh;
    text-align: center;
    height: fit-content;
}
.addFriend_button{
    padding: 6px 36px;
    margin: 0.5vh 1vw;
    font-size: small;
    font-weight: 600;
    font-family: "Open Sans";
    border: none;
    border-radius: 10px;
    background-color: var(--purpleDark);
    border-color: var(--pureWhite) !important;
    color: var(--pureWhite);
}
.connect_button{
    padding: 6px 8px;
    margin: 0.5vh 1vw;
    font-size: small;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 8px;
    background-color: var(--pureWhite);
    border: 1px solid #808080;
    color: #808080;
}
.message_button{
    padding: 6px 8px;
    margin: 0.5vh 1vw;
    font-size: small;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 8px;
    background-color: #38cb89;
    border: none;
    color: var(--pureWhite);
}
.addFriend_button:active, .connect_button:active{
    transform: scale(1.1);
}

.profileElements:first-child{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 1vw;
}
.profileElements:not(:first-child){
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 1vw;
    display: none;
}
.profileElementContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    max-height: 75vh;
    padding: 2%;
    overflow-y: auto;
}
.edit_button_profile{
    margin: 0.5vh;
    min-width: 15vw;
    height: 5vh;
    font-size: small;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 10px;
    background-color: #dfdfdf;
    border: none;
    color: var(--lightThemeFontSecondary);
}
.brightness-low-btn:hover{
    filter: brightness(95%);
}
.postThumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 9px;
    border-radius: 10px;
    position: relative;
    background-color: #dfdfdf;
    padding: 5px;
}
.postThumbnail img{
    border-radius: 10px;
    object-fit: cover;
    height: 24vh;
    width: 24vh;
    filter: brightness(75%);
}

.factThumbnail{
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(25vh - 5px);
    height: 2em;
    margin-bottom: 0 !important;
    
    background-color: #dfdfdf;
    border-radius: 10px;
    word-break: break-word;

    opacity: 0.9;
    transition: height 1s;
}
.postThumbnail:hover .factThumbnail{
    height: calc(100% - 5px);
}
.subTopicThumbnail{
    font-weight: 700;
    font-size: 0.8em;
    color: #808080;
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
}


.changeProfilePictureBtn{
    height: 15vh;
    width: 15vh;
}

.radioProfilePage {
    position: absolute;
    visibility: hidden;
  }

.profileElementsTitle{
    cursor: pointer;
    color: #787d80;
    border-bottom: 2px solid var(--lightBackground);
    padding-bottom: 0.75vh;
    margin-bottom: 0;
  }
  .radioProfilePage:checked + .profileElementsTitle{
    font-weight: 600;
    color: var(--lightThemeFontPrimary);
    border-bottom: 2px solid var(--purpleDark);
  }
  .radioProfilePage:hover + .profileElementsTitle{
    color: var(--lightThemeFontPrimary);
    border-bottom: 2px solid var(--purpleDark);
  }

@media screen and (max-width: 600px) {
    .subTopicThumbnail{
        font-size: 0.7em;
    }
    .info, .edu {
        width: 95vw;
        /* scroll snapping */
        scroll-snap-align: center;

        /* maybe this will work in the future 🤷‍♂️ */
        scroll-snap-stop: always;
    }
    .main{
        display: flex;
        flex-direction: column;
        height: 84vh;
        overflow-y: auto;
        overflow-x: scroll;

        /* hide scroll bar */
        scrollbar-width: none;
        -ms-overflow-style: none;
      
        /* momentum scroll on iOS */
        -webkit-overflow-scrolling: touch;
      
        /* scroll snapping */
        scroll-snap-type: x mandatory;
      }
    /* hide scroll bar */
    .main::-webkit-scrollbar {
        display: none;
    }
    .edit_button_profile{
        width: 40vw;
    }
    .postThumbnail img{
        height: 28vw;
        width: 28vw;
    }
    .factThumbnail{
        width: 28vw;
    }
    .profileElements{
        height: fit-content;
        padding: 2vw;
        border: none;
    }
    .profileElementContainer{
        display: flex;
        height: fit-content;
        padding: 0;
        border: none;
        justify-content: space-between;
        border-radius: 0;
    }
    .selectFormColortext{
        width: 70vw !important;
    }
    .editInterestsForm{
        justify-content: center;
    }
    .profileElementsTitle{
        font-size: small;
      }
      .postThumbnail{
        margin-bottom: 3px;
        padding: 6px 4px;
    }
}