.main {
    display: flex;
    padding: 1.5%;
    height: 90vh;
    flex-wrap: wrap;
}
.edu {
    flex: 1;
    border-radius: 10px;
    margin-right: 1vw;
    box-shadow:none!important;
}
.person {
    display: flex;
    padding: 1%;
    margin: 0px;
}
.picture {
    flex: 1;
    width: 120px;
}
.name_and_date {
    flex: 3;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
.name {
    color: black;
    font-size: 34px;
    margin-left:150px;
    margin-top:-75px;
}
.date {
    color: grey;
    font-size: 18px;
    margin-left:150px;
    margin-top:5px;
}
.edit {
    padding: 0px;
    margin: 0px;
    align-self: flex-start;
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #A78EC3;
}
.selectFormColortext{
    width: 20vw !important;
    height: 6vh !important;
    margin-right: 1vw;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    background-color: #F5F7FA;
}
.listed_educations, .listed_courses, .listed_languages, .listed_skills {
    list-style: none;
    color: grey;
}
.listed_educations_list{
    display: flex;
    flex-wrap: wrap;
}
.removeEducations{
    margin-left: -0.8vw;
}
.colourTextListItems{
    border: 2px solid rgb(142, 130, 151);
    color: rgb(84, 77, 88);
    border-radius: 5px;
    margin: 3px;
    padding: 4px;
    font-size: 0.8em;
}
#ErrorMessage{
    color: red;
    font-size: small;
}
.listed_titles {
    color: #302c35;
    font-size: larger;
    font-weight: 600;
}
.listed_bodies {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: normal;
    margin-left: 5%;
    margin-bottom:20px;
}
.description {
    color: grey;
    font-size: 14px;
    margin-left: 5%;
    width: 25vw;
}
.info {
    flex: 1.5;
    border-radius: 10px;
    box-shadow:none !important;
}

.title {
    color: gray;
    font-size: 22px;
}
.body {
    color: black;
    font-size: 18px;
    margin-left: 4%;
}
.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.pic_and_account_top {
    display: flex;
    flex-direction: row;
}
.pic_and_account_bottom {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
}
.pic {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.edit_slot {
    display: flex;
    flex-direction: column;
}
.linked {
    flex: 1;
    display: flex;
    flex-direction: row;
}
.linked_pics {
    margin-top: 0%;
    margin-left: 30px;
}
.spacer {
    flex: 0.2;
}

.element {
    flex: 1;
    width: 150px;
    height: 15px;
    padding-bottom: 20px;
}
.element_button {
    background-color: #A78EC3;
    color: white;
    width: 100px;
    height: 30px;
    font-weight: 300;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    position: center;
    margin-top:10px;
}
.element_image {
    height: 5em;
    width: 5em;
    margin-left: 5px;
}
.invis_button {
    border-color: transparent;
    background-color: transparent;
}
.edit_button {
    align-self: flex-end;
    margin: 0px 30px 40px 0px;
    width: 120px;
    height: 50px;
    font-weight: 600;
    font-family: "Open Sans";
    box-shadow: none;
    border: none;
    border-radius: 10px;
    background-color: #A78EC3;
    border-color: white !important;
    color: white;
}
.divider {
    padding: 0px;
    border: 0;
    width: 99%;
    height: 3px;
    color: gray;
    background-color: #e3dddd;
    border-radius: 5px;
}


/*27-09*/
.headerOfBlockInfoCard{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.profileDisplayData{
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.leftBlockofInfoCard{
    width: 30%;
    height: fit-content;
    
}
.profile_pic_slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vh 0;
}
.elementPic{
    height: 15vh;
    width: 15vh;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #dfd6e9;
}

.usernameBlocky{
    color: #302c35;
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    height: fit-content;
    text-align: center;
    text-overflow: clip;
    
}

.rightBlockofInfoCard{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.pointsAndFriendsCountSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 10vh;
}
.pointsAndFriendsCount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descriptionOf{
    margin: 1vh;
    text-align: center;
    height: fit-content;
}
.addButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
.addFriend_button{
    margin: 0.5vh;
    width: 12vw;
    height: 5vh;
    font-size: small;
    font-family: "Open Sans";
    box-shadow: 0px 2px 2px #a59ab3;
    border: none;
    border-radius: 25px;
    background-color: #834bc4;
    border-color: white !important;
    color: white;
    text-shadow: 1px 2px 2px #a59ab3;
}
.addFriend_button:hover{
    background-color: #6932a8;
    box-shadow: inset 1px 2px 1px #5f3491;
    text-shadow: none;
}
.connect_button{
    margin: 0.5vh 1vw;
    width: 12vw;
    height: 5vh;
    font-size: small;
    font-weight: 700;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 8px;
    background-color: white;
    border-color: #621eb1;
    color: #621eb1;
}
.addFriend_button:active, .connect_button:active{
    transform: scale(1.1);
}

.profileElements:first-child{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 1vw;
}
.profileElements:not(:first-child){
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 1vw;
    display: none;
}
.profileElementContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    max-height: 75vh;
    padding: 2%;
    overflow-y: auto;
}
.edit_button_profile{
    margin: 0.5vh;
    min-width: 15vw;
    height: 5vh;
    font-size: small;
    font-weight: 700;
    font-family: "Open Sans";
    box-shadow: none;
    border-radius: 10px;
    background-color: white;
    border-color: #621eb1;
    color: #621eb1;
}
.edit_button_profile:hover{
    color: white;
    background-color: #621eb1;
    border-color: #621eb1;
}
.postThumbnail{
    display: flex;
    margin-bottom: 9px;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    position: relative;
    align-items: center;
}
.postThumbnail:hover{
    border: 1px solid #bbbbbb;
    outline: 3px solid #dfdfdf;
}
.postThumbnail img{
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.4;
    height: 25vh;
    width: 25vh;
}

.factThumbnail{
    position: absolute;
    text-align: center;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto 1vw;
}
.subTopicThumbnail{
    font-weight: 600;
    margin:auto;
    font-size: 0.65em;
    color: rgba(0, 0, 0, 0.85);
}
.fact{
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin: 0.5em auto;
    font-size: 0.5em;
    word-break: break-word;
}

.changeProfilePictureBtn{
    height: 15vh;
    width: 15vh;
}

.radioProfilePage {
    position: absolute;
    visibility: hidden;
  }

.profileElementsTitle{
    cursor: pointer;
    transition: color 0.5s;
    font-weight: bolder;
    color: #787d80;
    margin-bottom: 1vh;
  }
  
  .radioProfilePage:checked + .profileElementsTitle, .radioProfilePage:hover + .profileElementsTitle{
    color: rgba(0, 0, 0, 0.9);
  }
  

@media screen and (max-width: 600px) {
    .info, .edu {
        width: 95vw;
        /* scroll snapping */
        scroll-snap-align: center;

        /* maybe this will work in the future 🤷‍♂️ */
        scroll-snap-stop: always;
    }
    .main{
        display: flex;
        flex-direction: column;
        height: 84vh;
        overflow-y: auto;
        overflow-x: scroll;

        /* hide scroll bar */
        scrollbar-width: none;
        -ms-overflow-style: none;
      
        /* momentum scroll on iOS */
        -webkit-overflow-scrolling: touch;
      
        /* scroll snapping */
        scroll-snap-type: x mandatory;
      }
    /* hide scroll bar */
    .main::-webkit-scrollbar {
        display: none;
    }
    .addFriend_button, .connect_button{
        width: 35vw;
        margin: 0.5vh 3vw;
    }
    .edit_button_profile{
        width: 40vw;
    }
    .postThumbnail img{
        height: 30vw;
        width: 30vw;
    }
    .profileElements{
        height: fit-content;
        padding: 2vw;
        border: none;
    }
    .profileElementContainer{
        display: flex;
        height: fit-content;
        padding: 0;
        border: none;
        justify-content: space-between;
        border-radius: 0;
    }
    .selectFormColortext{
        width: 70vw !important;
    }
    .editInterestsForm{
        justify-content: center;
    }
    .profileElementsTitle{
        font-size: small;
      }
      .postThumbnail{
        margin-bottom: 2px;
    }
}