.message-list {
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin: 0;
    height: 68vh;
    overflow-y: scroll;
    border: none;
    border-color: white;
    background: white;
    background-image: url('chat Background.png') !important;
    background-size: cover;
    box-shadow: none;
}

.user1 {
    color: #A78EC3;
    text-decoration-color: #A78EC3;
    font-weight: bold;
    font-size: small;
}
.user2 {
    color: #919699;
    text-decoration-color:#919699;
    font-weight: bold;
    font-size: small;
}
.time {
    color: #bcb2c7;
    font-size: xx-small;
}

.profilePic1 {
    width: 5%;
    height: 5%;

}

.profilePic2 {
    width: 5%;
    height: 5%;
}

.message1 {
    color:#FCFCFB;
    background-color: #A78EC3;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin-left: 5vw !important;

}
.message1:hover span{
    color: white;
}
.message2 {
    color:#FCFCFB;
    background-color: #919699;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin-right: 5vw !important;
}

@media screen and (max-width: 600px) {
    .message-list {
        min-height: 70vh;
    }
    .profilePic1 {
        width: 4vh;
        height: 4vh;
    }
    
    .profilePic2 {
        width: 4vh;
        height: 4vh;
    }
}