.message-box {
    background-color: rgb(245, 245, 248);
    height: 69.69vh;
    overflow-y: hidden;
}

.message-list {
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin: 0;
    height: 67.25vh;
    overflow-y: scroll;
    border: none;
    box-shadow: none;
}

.MuiPaper-elevation6 {
    box-shadow: none !important;
    border-radius: 5px !important;
    background-color: #707070 !important;
}

.user1 {
    color: var(--purpleMain);
    text-decoration-color: var(--purpleMain);
    font-weight: bold;
    font-size: small;
}

.user2 {
    color: grey;
    text-decoration-color: grey;
    font-weight: bold;
    font-size: small;
}

.time {
    color: #bcb2c7;
    font-size: xx-small;
}

.profilePic1 {
    width: 5%;
    height: 5%;

}

.profilePic2 {
    width: 5%;
    height: 5%;
}

.message1 {
    color: #FCFCFB;
    background-color: #bdbdbd;
    border-radius: 10px 10px 2px 10px;
    padding: 10px;
    max-width: 80%;
    margin-left: 5vw !important;
    word-break: break-word;
    text-align: left !important;
    font-size: 0.85em;
}

.message1:hover span {
    color: white;
}

.message2 {
    color: #FCFCFB;
    background-color: var(--purpleMain);
    border-radius: 10px 10px 10px 2px;
    padding: 10px;
    max-width: 80%;
    margin-right: 5vw !important;
    word-break: break-word;
    text-align: left !important;
    font-size: 0.85em;
}

.seenMarker {
    font-size: x-small;
    color: #bcb2c7;
    margin-right: 24px;
    text-align: end;
}

.messageRow .messageMenuContainer {
    visibility: hidden;
}

.messageRow:hover .messageMenuContainer {
    visibility: visible;
}

/*overflow-y scrollbar*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--purpleLight);
}
.formControlMessage .MuiOutlinedInput-multiline{
    padding: 10px 8px !important;
}
@media screen and (max-width: 600px) {

    /*overflow-y scrollbar*/
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }

    .seenMarker {
        margin-right: 22px;
    }

    .message-box {
        height: calc(100vh - 100px - 16vh);
    }

    .profilePic1 {
        width: 4vh;
        height: 4vh;
    }

    .profilePic2 {
        width: 4vh;
        height: 4vh;
    }
}