.message-box{
    background-color: rgb(245, 245, 248);
}
.message-list {
    box-sizing: border-box;
    padding: 0 0 0 10px;
    margin: 0;
    height: 68vh;
    overflow-y: scroll;
    border: none;
    box-shadow: none;
}
.MuiPaper-elevation6 {
    box-shadow: none !important;
    border-radius: 5px !important;
    background-color: #707070 !important;
}
.user1 {
    color: #A78EC3;
    text-decoration-color: #A78EC3;
    font-weight: bold;
    font-size: small;
}
.user2 {
    color: #919699;
    text-decoration-color:#919699;
    font-weight: bold;
    font-size: small;
}
.time {
    color: #bcb2c7;
    font-size: xx-small;
}

.profilePic1 {
    width: 5%;
    height: 5%;

}

.profilePic2 {
    width: 5%;
    height: 5%;
}

.message1 {
    color:#FCFCFB;
    background-color: #A78EC3;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin-left: 5vw !important;

}
.message1:hover span{
    color: white;
}
.message2 {
    color:#FCFCFB;
    background-color: #919699;
    border-radius: 5px;
    padding: 10px;
    width: max-content;
    margin-right: 5vw !important;
}
.seenMarker{
    font-size: x-small;
    color: #bcb2c7;
    margin-right: 24px;
    text-align: end;
}

/*overflow-y scrollbar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #dfd6e9;
}
@media screen and (max-width: 600px) {
    /*overflow-y scrollbar*/
    ::-webkit-scrollbar-track
    {
    	-webkit-box-shadow: none;
    }

    ::-webkit-scrollbar
    {
    	width: 2px;
    }

    ::-webkit-scrollbar-thumb
    {
    	border-radius: 2px;
    }
    .seenMarker{
        margin-right: 22px;
    }
    .message-list {
        min-height: 69vh;
    }
    .profilePic1 {
        width: 4vh;
        height: 4vh;
    }
    
    .profilePic2 {
        width: 4vh;
        height: 4vh;
    }
}