.chatBox{
    box-sizing: border-box;
    min-width: 44vw;
}
.chatHeader{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    background-color:#ccc4d69f;
    border-radius: 10px 10px 0 0 ;
}
.profilePictureChatHeader{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px 20px;
    border: 1px solid #aeb3b6;
}
.targetUser {
    margin-left: 1vw;
    font-size: larger;
    font-weight: bold;
    color: #919699;
    text-decoration-color: #919699;
    -webkit-line-clamp: 1;
}
@media screen and (max-width: 600px) {
    .chatBox{
        min-height: 84vh;
    }
    .profilePictureChatHeader{
        width: 35px;
        height: 35px;
    }
    .chatHeader{
        border-radius: 0 ;
    }
}