.chatBox{
    box-sizing: border-box;
    width: 44vw;
}
.chatHeader{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px 10px 0 0;
}
.profilePictureChatHeader{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 100%;
    margin: 5px 20px;
}
.targetUser {
    font-size: large;
    font-weight: bold;
    color: #919699;
    -webkit-line-clamp: 1;
}
@media screen and (max-width: 600px) {
    .chatBox{
        width: 100%;
        min-height: 84vh;
    }
    .chatHeader{
        border-radius: 0;
    }
}