.messagePos {
    background-color: #FCFCFB;
    margin-top: 15px;
 }
.formInlineMessage .formControlMessage {
    width: 85%;
    border: 2px solid rgb(180, 180, 180);
    height: 7vh;
    padding: 2vh;
}
.formInlineMessage{
    display: flex;
    justify-content: space-around;
}
.writeButton{
    background-color: white;
    border: none;
}
@media screen and (max-width: 991px) {
    .formInlineMessage .formControlMessage {
        width: 80%;
        border: 2px solid rgb(180, 180, 180);
        height: 6vh;
        padding: 1.5vh;
    }
}