.messagePos {
    background-color: #FCFCFB;
    margin-top: 15px;
 }
.formInlineMessage .formControlMessage {
    width: 85% !important;
    border: 2px solid rgb(180, 180, 180);
    height: 7vh;
    padding: 2vh;
}
.writeButton{
    background-color: white;
    border: none;
}