.messagePos {
    position: sticky;
    bottom: 0;
    background-color: #E0E0E0;
    border-radius: 0 0 10px 10px;
 }
.formInlineMessage .formControlMessage {
    width: 80%;
    height: 40px;
    padding: 8px;
}
.formInlineMessage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.writeButton{
    background-color: #FCFCFB;
    border: none;
}