.messagePos {
    position: sticky;
    bottom: 0;
    background-color: #E0E0E0;
    border-radius: 0 0 10px 10px;
 }
.formInlineMessage{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.writeButton{
    background-color: #FCFCFB;
    border: none;
}
@media screen and (max-width: 600px) {
    .messagePos {
        border-radius: 0;
     }
}