.messagePos {
    position: sticky;
    bottom: 0;
    background-color: #FCFCFB;
 }
.formInlineMessage .formControlMessage {
    width: 80%;
    border: 1px solid rgb(180, 180, 180);
    height: 2.5em;
    padding: 1vh;
}
.formInlineMessage{
    display: flex;
    justify-content: space-evenly;
}
.writeButton{
    background-color: #FCFCFB;
    border: none;
}