.profilePictureChatHeader{
    width: 40px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid #bdbdbd;
}
.recentUserList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #dfdfdf;
    width: 30vw;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.targetUser {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.searchUser{
    display: inline-block;
    height: 2.5em;
    padding: 1vw;
    width: 80%;
}
.writeButton {
    background-color: #FCFCFB;
    border-style: none;
}
.recentChats{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    height: 72vh;
    overflow-y: auto;
}
.userChatThumbnail{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    width: 90%;
    margin: 1vh auto;
    border-bottom: 1px solid #dfdfdf;
}

.userNameAndRecentMessage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -3px;
    margin-left: 0.5em;
    flex-grow: 1;
    width: 0;
}
.userChatThumbnailUsername{
    font-size: medium;
    font-weight: 600;
    color: #919699;
}
.lastMessage{
    font-size: small;
    word-break: break-word;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.userChatThumbnailTime{
    color: #dddddd;
    font-size: small;
}

@media screen and (max-width: 600px) {
    .recentChats{
        height: auto;
    }
    .recentUserList{
        border: none;
        width: 100vw;
    }
}