*{
    box-sizing: border-box;
}
.recentUserList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc4d6d0;
    min-width: 30vw;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.targetUser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #FCFCFB;
    margin-top: 3vh;
}
.searchUser{
    display: inline-block;
    height: 6vh;
    padding: 1vw;
}
.writeButton {
    background-color: #FCFCFB;
    border-style: none;
}
.recentChats{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    height: 75vh;
    overflow-y: auto;
}
.userChatThumbnail{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7vh;
    margin: 1vh 2vw;
    border-bottom: 0.1px solid #dfd6e98f;
    
}
.userChatThumbnailImage img{
    margin: auto;
    height: 5vh;
    width: 5vh;
}
.userNameAndRecentMessage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -3px;
    margin-left: 15px;
    flex-grow: 5;
}
.userChatThumbnailUsername{
    font-size: medium;
    font-weight: 600;
    font-family: Popins, sans-serif;
    color: #919699;
}
.lastMessage{
    font-size: small;
}
.userChatThumbnailTime{
    color: #ccc4d6d0;
}

@media screen and (max-width: 991px) {
    .searchUser{
        display: inline-block;
        height: 6vh;
        width: 80%;
        padding: 1vw;
    }
}
@media screen and (max-width: 600px) {
    .recentChats{
        height: auto;
    }
    .recentUserList{
        border: none;
    }
}