.postCardContainer{
    border: 0px solid red;
    margin: 2vh 2vw;
}
.postHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 1vw;
    height: 8vh;
    border: 1px solid rgb(187, 187, 187);
    padding: 0.5vw 2vw 0;
    border-radius: 30px 30px 0 0;
}
.postMetaData{
    flex-basis: 75%;
}
.subject{
    margin-bottom: 0;
}
.topic a, .subTopic a{
    text-decoration: none;
    color: grey;
}
.topic{
    
}
.subTopic{

}
.menuIcon{
    margin-right: -3vw ;
}
.menuListVisible{
    position: absolute;
    right: 1vw;
    top: -1vh;
    width: 15vw;
    height: fit-content;
    border-radius: 10px;
    display: none;
    z-index: 99;
    background-color: #A78EC3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: whitesmoke;
    padding: 1vh 1vw;
}
.menuListVisible div{
    border-bottom: 0.1px solid grey;
}
.menuListVisible div:hover{
    cursor: pointer;
    color: white;
    font-weight: 600;
}
.postImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1px solid rgb(226, 226, 226);
    position: relative;
    overflow: hidden;
    max-height: 75vh;
    min-height: 60vh;
}

.quesFactBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}
.question{    
    font-size: 20px !important;
    font-weight: bold;
    width: fit-content;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    
}

.question::after{
    content: '  ?';
    font-size: larger;
}
.postImg .fact{
    color: #000;
    margin: 5vw;
    font-size: 18px;
    font-weight: bolder;
}
.postImg .fact::after, .postImg .fact::before{
    content: ' " ';
}
.backgroundImage{
    opacity: 0.12;
}
.postFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 1vw;
    height: 8vh;
    border: 1px solid rgb(187, 187, 187);
    padding: 0.5vw 2vw 0;
    border-radius: 0 0 30px 30px;
}
.viewPostBtn{
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  color: #A78EC3;
  background-color: white;
  height: 4vh;
  width: 8vw;
  border: 1px solid #A78EC3;
}

.viewPostBtn:hover{
  color: white;
  background-color: #A78EC3;
}
/*
.readMoreBtn{
  font-size: small;
  font-weight: bold;
  border-radius: 5px;
  color: #A78EC3;
  background-color: white;
  height: 4vh;
  width: 8vw;
  border: 1px solid #A78EC3;
  transition: border-radius 4s, linear ;
}
.readMoreBtn:hover{
  border-radius: 15px;
}*/
.viewPreviousNextPost{
  margin-top: -8px;
}
.previousNextWindow{
    display: none;
    color: black !important;
    border: 2px solid #834bc4 !important;
    background-color: rgb(245, 238, 226);
    border-radius: 100px;
    padding: 0.5vh 0.8vw;
    position: absolute;
    bottom: 0;
    right: 4vw;
}
.accuracyIcon{
    width: 2.5vw;
}
.intrigrityMarker{

  transform: translate(2.5vw, -1.5vw);
  
}
/*Range Integrity Slider*/
.integritySlider input[type=range] {
    -webkit-appearance: none;
    max-width: 10vw;
    border: 2px solid #dfd6e9;
    cursor: pointer;
  }

.integritySlider input[type=range]:focus {
    outline: none;
  }
  /*Range Slider for General Webkit & Chrome, Edge Chromium, Safari*/
.integritySlider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    animate: 0.2s;
    border-radius: 100%;
    visibility: hidden;
  }
  .integritySlider input[type=range][value="2"]::-webkit-slider-thumb {
    -webkit-appearance: none ;
    appearance: none;
    height: 2vw;
    width: 2vw;
    border: 0;
    background-image: url('correctBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -1vw;
    visibility: visible;
  }
  .integritySlider input[type=range][value="1"]::-webkit-slider-thumb {
    -webkit-appearance: none ;
    appearance: none;
    height: 2vw;
    width: 2vw;
    border: 0;
    background-image: url('semicorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -1vw;
    visibility: visible;

  }
  .integritySlider input[type=range][value="0"]::-webkit-slider-thumb {
    -webkit-appearance: none ;
    appearance: none;
    height: 2vw;
    width: 2vw;
    border: 0;
    background-image: url('incorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    margin-top: -1vw;
    visibility: visible;

  }
  
  /*Range Slider for Mozilla Firefox Webkit*/
  .integritySlider input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 100%;
    visibility: hidden;

  }
  .integritySlider input[type=range][value="2"]::-moz-range-thumb {
    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('correctBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;

  }
  .integritySlider input[type=range][value="1"]::-moz-range-thumb {
    
    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('semicorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;
    
  }
  .integritySlider input[type=range][value="0"]::-moz-range-thumb {
    
    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('incorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;

  }
  
    /*Range Slider for Internet Explorer*/
  .integritySlider input[type=range]::-ms-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    animate: 0.2s;
    border-radius: 100%;
    visibility: hidden;

  }
  .integritySlider input[type=range][value="2"]::-ms-thumb {
    
    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('correctBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;
    
  }
  .integritySlider input[type=range][value="1"]::-ms-thumb {

    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('semicorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;
    
  }
  .integritySlider input[type=range][value="0"]::-ms-thumb {

    appearance: none;
    height: 2.5vw;
    width: 2.5vw;
    border: 0;
    background-image: url('incorrectBGicon.png');
    background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
    cursor: pointer;
    visibility: visible;

  }
  .integritySlider input[type=range]::-ms-fill-lower {
    border-radius: 100%;
  }
  .integritySlider input[type=range]::-ms-fill-upper {
    border-radius: 100%;
  }

  .postMCQ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 75vh;
    min-height: 60vh;
    margin: 2vh 0px;
    border: 0.1px solid rgb(226, 226, 226);
    background-color: #dfd6e98f;
    border-radius: 30px;
  }
.postMCQ div.mcqQuestion, div.mcqOptions{
  margin: 4vh 2vw;
  padding: 4vh;
  background-color: white;
  border-radius: 20px ;
  color: #000 !important;
}

div.mcqQuestion{
  font-weight: bold;
}

div.correctGesture{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 75vh;
  min-height: 60vh;
  margin: 2vh 0px;
  border: 2px solid rgb(226, 226, 226);
  background-color: white;
  border-radius: 30px;
}
div.correctGesture > p{
  color: black;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  font-size: 3vh;
}