*{
  box-sizing: border-box;
}
.newsfeedFeatures{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    margin: 1vh 0; 
  }
  .newsfeedFeatures > section{
}

/* 1. Add icon*/
.addPostIcon{
    width: 6vw !important;
    height: 6vw !important;
  }
/* 2. stories*/
  .story{
    box-sizing: border-box;
    align-items: center;
    width: 41vw;
    border-right: 1px solid #dfd6e9;
   
  }
  .list{
    list-style: none;
    height: 6vw;
    margin: 0;
    align-items: center;
  }
  .list {
    display: flex;
    overflow-x: scroll;
  
    /* prevent accidentally going back or triggering other swipe events */
    overscroll-behavior: contain;
  
    /* hide scroll bar */
    scrollbar-width: none;
    -ms-overflow-style: none;
  
    /* momentum scroll on iOS */
    -webkit-overflow-scrolling: touch;
  
    /* disbable vertical scroll for touch */
    touch-action: pan-x;
  }
  
  /* hide scroll bar */
  .list::-webkit-scrollbar {
    display: none;
  }
  .item{
    flex-shrink: 0;
    border-radius: 100%;
    margin-right: 5px;
    align-items: center;
  }
.item:first-child{
  margin-left: -3vw;
}
.userStoryThumbnail{
  display: flex;
  flex-direction: column;
  text-align: center;
    align-items: center;
}
.imgThumbnail{
  width: 4vw !important;
  height: 4vw !important;
  background-color: white;
    border: 1px solid #dfd6e9;
    border-radius: 100%;
    box-shadow: 1px 2px 2px #919699;
    justify-content: center;
}
.imgThumbnail img{
  border-radius: 100%;
  height: inherit;
}
.circleName{
  font-size: x-small;
  color: grey;
}

  /* 3. setting buttons*/
.newsfeedSettings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.button {
    position: relative;
    width: 6vw;
    height: 4.1vh;
    margin: 0;
    overflow: hidden;
    margin: 0.2vw 0;
  }
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .button .layer {
  border-radius:  100px;
}
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  .knobs {
    z-index: 2;
  }
  
  #button3 .layer {
    width: 100%;
    background-color: #b6ffa9;
    transition: 0.3s ease all;
    z-index: 1;
 
  }
  
  #button3 .knobs:before {
    content: "LEARN";
    position: absolute;
    top: 0px;
    left: 0.1vw;
    width: 2vw;
    height: 2vw;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    line-height: 8px;
    padding: 10px 0;
    background-color: #39FF14;
    border-radius: 100%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }

  #button3 .checkbox:checked:active + .knobs:before {
    margin-left: -20px;
  }
  
  #button3 .checkbox:checked + .knobs:before {
    content: "TEST";
    left: 3.9vw;
    background-color: #3442FB;
  }
  
  #button3 .checkbox:checked ~ .layer {
    background-color: rgb(177, 182, 255);
  }

  /* BUTTON4 */
  #button4 .layer {
    width: 100%;
    background-color: #ffcea9;
    transition: 0.3s ease all;
    z-index: 1;
 
  }
  #button4 .knobs:before {
    content: "ALL";
    position: absolute;
    top: 0px;
    left: 0.1vw;
    width: 2vw;
    height: 2vw;
    color: #fff;
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    line-height: 8px;
    padding: 10px 0;
    background-color: #FF7B19;
    border-radius:100%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  

  
  #button4 .checkbox:checked:active + .knobs:before {
    margin-left: -20px;
  }
  
  #button4 .checkbox:checked + .knobs:before {
    content: "CORE";
    left: 3.9vw;
    background-color: #FF199D;
  }
  
  #button4 .checkbox:checked ~ .layer {
    background-color: #ffaddb;
  }

  .addPostFormHeading{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: 800;
  }
  .formNavigation{
    display: flex;
    justify-content: space-between;
  }
  .formPost input, .formPost textarea, .mediaUploadOptions{
    display: block;
    margin: 1vw;
  }
  .linkNext{
    color: black;
    opacity: 1 !important;
  }

  .mediaUploadOptions a{
    display: inline-block;
    text-decoration: none;
    color: #3442FB;
    font-weight: 600;
  }
  .mediaUploadOptions a:hover{
    border-bottom: 2px solid #3442FB;
  }
  .closeButton{
    border-radius: 100%;
    border-color: grey;
    color: grey;
  }
  .addPostFormHeading ~ input, .addPostFormHeading ~ select{
    height: 2.5em;
    margin-left: 0;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    padding-left: 0.8em;
  }

  .addPostFormHeading ~ input:hover, .addPostFormHeading ~ select:hover{
    border: 1px solid #212121;
  }
  .addPostFormHeading ~ input:focus, .addPostFormHeading ~ select:focus{
    border: 2px solid #3145b0 !important;
  }

  @media screen and (max-width: 991px) {
    .story{
        width: 52vw !important;
    }
    .item:first-child{
      margin-left: -4vw;
    }
}

@media screen and (max-width: 600px) {
    
}